// ==================================================================
// FONTS
// ------------------------------------------------------------------
// This is where fonts are generated
// ==================================================================

// Merriweather
@import url(http://fonts.googleapis.com/css?family=Merriweather:400,900,900italic,400italic,300,300italic);

// Lato
@import url(http://fonts.googleapis.com/css?family=Lato:400,400italic,900,900italic,300italic,300);

html {
  font-family: $fontSansSerif;
  font-weight: 100;
}

h1, h2, h3 {
  font-family: $fontSerif;
  font-weight: 900;
}
