.description-index {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin-top: 50px;

  a {
    display: flex;
    color: $black;
    text-decoration: none;
    padding: 0 10px;
  }
}

.description-index__cell {
  flex: 0 1 50%;
  text-align: left;
  margin-bottom: 60px;

  &:hover {
    .description-index__cell-image,
    .description-index__cell-title {
      opacity: 0.4;
      transition: opacity 0.3s;
    }
  }
}

.description-index__cell-image {
  flex: 0 0 80px;
  width: 80px;
  height: 80px;
  line-height: 0;
  border-radius: 50%;
  overflow: hidden;
  background: $themeColor1;
  opacity: 1;
  transition: opacity 0.3s;

  img {
    width: 80px;
    height: 80px;
    opacity: 0.25;
  }
}

.description-index__cell-details {
  flex-grow: 1;
  padding-left: 20px;
}

.description-index__cell-title {
  width: 390px;
  margin-top: 0;
  margin-bottom: 0;
  color: $themeColor1;
  font-weight: 400;
  font-size: 1.5em;
  line-height: 1.4; // Otherwise question marks clip
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  opacity: 1;
  transition: opacity 0.3s;
}

.description-index__cell-date {
  margin-top: 2px;
  margin-bottom: 0;
  line-height: 1;
  color: $grey;
  font-size: 1em;
}

.description-index__cell-excerpt {
  p:first-of-type {
    margin-top: 10px;
  }
}
