.pagination {
  display: block;
  padding: 20px;
  text-align: center;

  a {
    display: inline-block;
    margin: 0 5px;

    @include button-variant($themeColor1, transparent, $themeColor1);
    @include button-size(10px, 20px, 1em, 1, 4px);
  }
}
