// ==================================================================
// VARIABLES
// ------------------------------------------------------------------
// All variable declarations go here
// ==================================================================


// FONTS
// ------------------------------------------------------------------
$fontSerif: "Merriweather", Georgia, serif;
$fontSansSerif: "Lato", Helvetica, Arial, sans-serif;


// COLORS
// ------------------------------------------------------------------

// Generic colors
$white: #FFF;

$black: #333;

$grey: #ADADAD;

// Theme-specific colors
$themeColor1: #45386A;
