// ==================================================================
// VARIABLES
// ------------------------------------------------------------------
// All variable declarations go here
// ==================================================================

// Generic colors
$white: #FFF;

$black: #333;

$grey: #ADADAD;

// Theme-specific colors
$themeColor1: #45386A;
